
*.pyc

examples/Braess/DemSC1/Output.json
examples/Braess/DemSC1/Demand2.json
examples/Braess/DemSC2/Output.json
examples/SingleRes/DemSC1/Output.json
examples/SingleRes/DemSC2/Output.json
examples/SingleRes/DemSC3/Output.json
examples/SingleRes/DemSC4/Output.json
examples/SingleRes/DemSC5/Output.json


*egg-info/